html, body,
ul, ol, li,
h1, h1, h3, h4, h5, h6, p,
form, input, div{
    margin:0;
    padding:0;
}
body {
    font-family:"Avenir Next", "TsukuARdGothic-Regular", sans-serif;
}

li{
    list-style:none;
}
a{
    color:black;
    text-decoration:none;
}
header{
  background-color:white;
  height:130px;
  position:absolute;
  z-index:10;
  width:100%;

}
.header-top{
  text-align: center;
}
.header-title{
  font-family:"HanziPen SC";
  display:inline-block;
  color:rgb(12, 12, 12);
  font-size:30px;
}
.fa-instagram{
  color:rgba(0,0,0,0.6);
  font-size: 30px;
  display: inline-block;
  float:right;
  margin-top: 10px;
  margin-right:20px;
}
.fa-instagram:hover{
  color:rgba(0,0,0,0.8);
}
.contents :hover{
  color:rgba(0,0,0,0.8);
}

.contents{
  margin-left:70px;
  font-family:'The Scientist', sans-serif;
  font-size:24px;
}

.contents a{
  color:rgba(0,0,0,0.5); 
  font-size:32px;
  width:16%;
  padding-left:15px;
  padding-right:15px;
  text-align: center;
  display:inline;
  float:left;
}

span{
  padding-bottom:15px;
  font-size:10px;
  font-family:"HanziPen SC";
}
span::before{         /*改行コード*/
  content:"\A";
  white-space:pre;  
}


#blog{
  text-align: center;
  padding-top:150px;
  height:600px;
  background-image:url(blog_back-img.png);
  background-color: rgba(255, 255, 255,0.8);
  background-blend-mode:lighten;  /*少し明るめに設定するためのコードで，これにより透過しているように見せている*/
  background-size:cover;
  padding-bottom:700px;
}
#title_blog{
  color:rgb(117, 115, 115);
}
h3{
  font-size:50px;
  font-family:'The Scientist', sans-serif;
}
p{
  text-align: center;
  font-family:"HanziPen SC";
}
#title_blog p{
    padding-top:10px;
    padding-bottom:20px;
}

#texts p{
  padding-top:20px;
}
